[submodule "plugins/dircolors-solarized"]
	path = plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "plugins/powerline"]
	path = plugins/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "plugins/powerline-shell"]
	path = plugins/powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git

[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
